*{
	all: unset;
	font-family: MesloLGSNF;
}

progressbar trough {
	all: unset;
	background-color: #601800;
	border-radius: 5px;
	min-height: 5px;
	min-width: 20px;
}

progressbar trough progress {
	all: unset;
	min-height: 5px;
	border-radius: 5px;
}

.bar {
	background-color: rgba(0, 0, 0, 0.7);
	border: 2px solid;
	border-color: #c64600;
	margin: 4px 7px 0px 7px;
	padding: 3px;
}

.tasks{
}

.task {
	background-color: rgba(150, 150, 150, 0.4);
	border: 2px solid;
	border-radius: 5px;
	border-color: #601800;
}

.taskfocused {
	background-color: rgba(150, 150, 150, 0.4);
	border: 2px solid;
	border-radius: 5px;
	border-color: #c64600;
}

.brightness trough progress {
	background-color: #c0a030;
}

.volume trough progress {
	background-color: #0090a0;
}

.muted trough {
	background-color: #404040;
}

.bluetooth {
	color: #5050c0;
}

.network {
	min-width: 200px;
}

.battery trough progress {
	background-color: #107020;

}

.cpu {
	color: #a09090;
}

.ram {
	color: #a020a0;
}
