* {
	all: unset;
}

.time {
	font-weight: bold;
	font-size: 18px;
}

progressbar trough {
	all: unset;
	background-color: #100018;
	border-radius: 5px;
	min-height: 5px;
	min-width: 20px;
}

progressbar trough progress {
	all: unset;
	min-height: 5px;
	border-radius: 5px;
}

.bar {
	font-family: "MesloLGSNF";
	background-color: rgba(21, 21, 21, 0.8);
	color: #eeeeee;
	border: 2px solid;
	border-color: #6010c8;
	border-radius: 10px;
	margin: 4px 7px 0px 7px;
	padding: 3px;
}

.workspaces{
}

.workspace {
	background-color: rgba(10, 10, 18, 1);
	border: 2px solid;
	border-radius: 5px;
	border-color: #151038;
}

.workspacefocused {
	background-color: rgba(10, 10, 18, 1);
	border: 1px solid;
	border-radius: 5px;
	border-color: #6010c8;
}

.brightness trough progress {
	background-color: #c0a030;
}

.volume trough progress {
	background-color: #0090a0;
}

.muted trough {
	background-color: #404040;
}

.bluetooth {
	color: #5050c0;
}

.network {
	min-width: 200px;
}

.battery trough progress {
	background-color: #107020;
}

.netup {
	color: #40d040;
}

.netdown {
	color: #d04040;
}

.cpu {
	color: #a09090;
}

.ram {
	color: #a020a0;
}
